#admin_nav_wrap {
    float: left;
    width: 200px;
    height: 100%;
    box-shadow: 5px 2px 10px 0px rgba(0,0,0,0.26);
}

#admin_nav_list a{
    text-decoration: none;
    font-size: 23px;
    color:#5A2626;
    font-family: 微軟正黑體;
    padding-top: 10px;
    margin: 10px auto 0px;
    width: 196px;
    height: 40px;
}
#admin_nav_list table{
    margin-top: 40px;
    width:200px;
}
#admin_tb_nav a:link,#admin_tb_nav a:visited{
    color: #5A2626;
    text-decoration: none;
    display: inline-block;
}

#admin_tb_nav a:hover,#admin_tb_nav a:active,#nav_admin_product:hover {
    background-color: #99CCFF;
}

#nav_admin_product {
    font-size: 23px;
    color:#5A2626;
    font-family: 微軟正黑體;
    padding-top: 10px;
    margin: 10px auto 0px;
    width: 196px;
    height: 40px;
}

#nav_admin_product_list a{
    font-size: 18px;
    width: 130px;
    height: 32px;
    margin: 0px auto;
    padding-top: 5px;
}
#nav_admin_product_list{
    display: none;
    width: 150px;
    margin: 0px auto;
}
